@use "../base/mixins" as *;
@use "../base/variables" as *;

.about-us {
    position: relative;

		&__img {
            height: 100vh;
            width: 100dvw;

		}

		&__bg {
            margin-top: 120px;
            position: absolute;
            inset: 0;
            background-color: #000000ca;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--text{
                font-size: 24px;
                padding: 4px 16px;
                color: white;
                
                
                &-color{
                    color: $bg-primary;
                }
            }
		}	
}


