@use "../base/mixins" as *;

.about-us {
    background-image: url("../../img/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    background-attachment: fixed;

    &::after{
        content: "";
        background-color: black;
        position: absolute;
        opacity: .85;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: 600ms;
    }

}

@media screen and (max-width: 1024px ){
    .about-us{
        background-position-x: center;
    }
}
