@use "../base/mixins" as *;
@use "../base/variables" as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    font-family: $text-primary;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1;

    &__logo{
      height: 120px;
      width: 140px;
      margin-left: 40px;
    }
    
    &__list {
      display: flex;
      gap: 40px;
      align-items: center;
      
      &--hover{
            position: relative;
            color: white;
            transition: 600ms;

            &:hover{
                  color: $bg-primary;
                  transition: 600ms;
            }
            
            &::after{
                  content: "";
                  height: 2px;
                  width: 100%;
                  position: absolute;
                  bottom: -8px;
                  left: 0;
                  background-color: $bg-primary;
                  transition: 600ms;
                  transform: scaleX(0);
                  
                  
            }
            &:hover::after{
                  transform: scaleX(1);
                  transition: 600ms;
            }
      }
      
}


&__contacts {
      display: flex;
      gap: 40px;
      align-items: center;
      margin-right: 60px;
      
      &--link{
            color: white;
            transition: 600ms;

            &:hover{
                  color: $bg-primary;
                  transition: 600ms;
            }
      }
    }
}

      
@media screen and (max-width: 1024px ) {
      .header {
            height: 85px;
            &__logo{
                  height: 30px;
                  width: 90px;
                  margin-left: 16px;
            }

		&__list {
                  display: none;
		}

		&__contacts {
                  display: none;
		}
}

}